/* http://meyerweb.com/eric/tools/css/reset/
   v2.0-modified | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"],
/* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html,
button,
input,
select,
textarea {
  color: #222;
}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/**  Setting **/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

button {
  border: none;
  cursor: pointer;
}

li {
  display: block;
}

body {
  max-width: 1600px;
  font-family: 'Roboto';
  font-style: normal;
  margin-right: auto;
  margin-left: auto;
}

/**  1st Header Start **/

header {
  position: absolute;
  width: 1600px;
  height: 95px;
  top: 0px;
  z-index: 1;
}


.logo {
  position: absolute;
  width: 44px;
  height: 45px;
  left: 778px;
  top: 25px;
  cursor: pointer;
}

.logo:hover {
  transform: rotate(360deg) scale(2);
  transition: .4s;
}


header nav ul li a {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  display: flex;
  align-items: center;
  color: #FFFFFF;
  opacity: 0.8;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #27a3c2;
  border-bottom: 1px solid #FFF;

}

#nav-item-About {
  position: absolute;
  width: 39px;
  height: 21px;
  left: 502px;
  top: 39px;
}

#nav-item-Syllabus {
  position: absolute;
  width: 53px;
  height: 20px;
  left: calc(50% - 53px/2 - 148.5px);
  top: 39px;
}

#nav-item-Projects {
  position: absolute;
  width: 52px;
  height: 20px;
  left: calc(50% - 52px/2 + 149px);
  top: 39px;
}

#nav-item-FAQ {
  position: absolute;
  width: 26px;
  height: 20px;
  left: calc(50% - 26px/2 + 271px);
  top: 39px;
}

/** 1st  Header End **/




/** 2st Your Life Start**/

h1 {
  position: absolute;
  left: 435px;
  top: 229px;
  font-weight: bold;
  font-size: 64px;
  line-height: 75px;
  /* identical to box height */
  letter-spacing: 4.5px;
  text-transform: uppercase;
  white-space: nowrap;
  color: #FFFFFF;
}



.active {
  font-weight: 600;
  border-bottom: 1px solid white;
}


.your-life {
  position: relative;
  width: 1600px;
  height: 744px;
  margin-left: auto;
  margin-right: auto;
  background-color: rgb(153, 153, 153);
  background-image: url(./assets/img/bg-image.png);
}


.your-life p {
  position: absolute;
  width: 504px;
  height: 50px;
  left: 548px;
  top: 326px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18.0px;
  line-height: 140%;
  text-align: center;
  color: #FFFFFF;
}

.your-life button {
  display: flex;
  flex-direction: row;
  padding: 14px 47px;

  position: absolute;
  width: 184px;
  height: 46px;
  left: 707px;
  top: 406px;
  background: #00AFDB;
  border: none;
  cursor: pointer;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 132%;
  white-space: nowrap;
  text-align: center;
  color: #FFFFFF;
}

.btn:hover {

  background: #8f91b6;
  transition: .42s;
}

.socials {
  position: absolute;
  width: 200px;
  height: 20px;
  left: 715px;
  top: 635px;
}

.socials ul li {
  display: inline-flex;
  margin-right: 26px;
}

.socials ul li:hover {
  transform: scale(1.4);
  transition: .1s;
}

/**  2st  Your Life End **/




/** 3st  Rappresent Start **/

.rappresent {
  position: relative;
  width: 1600px;
  height: 842px;
  margin: 0 auto;
}

.rappresent img {
  position: absolute;
  width: 407px;
  height: 582px;
  left: 923px;
  top: 120px;
}

.content-block {
  position: absolute;
  width: 407px;
  height: 233px;
  left: 268px;
  top: 294px;

}

.content-block h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #373737;
}

.content-block p {
  position: absolute;
  left: 0px;
  top: 80px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  color: #4E4E4E;
}

.content-block button {
  display: flex;
  flex-direction: row;
  padding: 14px 47px;

  position: absolute;
  width: 184px;
  height: 46px;
  left: 0px;
  top: 189px;
  border: none;
  cursor: pointer;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 132%;
  white-space: nowrap;
  /* or 25px */
  text-align: center;
  color: #FFFFFF;

  background: #00AFDB;
}

/** 3st  Rappresent End **/



/** 4st  Our Community Start **/

.our-community {
  position: relative;
  width: 1600px;
  height: 504px;
  margin: 0 auto;
  text-align: center;
  background: #F5F6F7;
}

.our-community p {
  position: absolute;
  width: 298px;
  height: 80px;
  left: calc(50% - 298px/2);
  top: 95px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  display: flex;
  align-items: flex-end;
  text-align: center;

  color: #4E4E4E;
}

.content-block-2 {
  position: absolute;
  width: 298px;
  height: 175px;
  left: 269px;
  top: 155px;
}

.content-block-2 img {
  width: 45px;
  height: 45px;
  text-align: center;
  background-color: #bbb;
  border-radius: 50%;
}

.content-block-2 h2 {
  position: absolute;
  width: 160px;
  height: 20px;
  left: calc(50% - 160px/2);
  top: 65px;


  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  white-space: nowrap;

  color: #373737;
}

/* Arrow Slider */
.nav-items {
  position: absolute;
  height: 18px;
  left: 1231px;
  top: 81px;
  display: inline-flex;
}

#arrow_left {
  padding: 0px 14px;

}

#arrow_left:hover {
  padding: 0px 14px;
  cursor: pointer;
  opacity: 0.5;
}

#arrow_right {
  padding: 0px 14px;
}

#arrow_right:hover {
  padding: 0px 14px;
  cursor: pointer;
  opacity: .5;
}

.count-slider-items {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */
  display: flex;
  align-items: center;
  color: #373737;
}

.count-slider-items span {
  padding-right: 4.4px;
}


.slider-items {
  position: absolute;
  width: 894px;
  height: 244px;
  left: 706px;
  top: 120px;
  overflow: hidden;
}

.slider-items div {
  width: 407px;
  height: 244px;
}

.slider-items img {
  float: left;
}


#item1 {
  position: absolute;
  width: 407px;
  height: 244px;
  left: 0px;
  top: 0px;
  background-color: rgb(196, 196, 196);
}

#item2 {
  position: absolute;
  width: 407px;
  height: 244px;
  left: 437px;
  top: 0px;
  background-color: rgb(196, 196, 196);
}

#item3 {
  position: absolute;
  width: 407px;
  height: 244px;
  left: 874px;
  top: 0px;
  background-color: rgb(196, 196, 196);
}

/** 4st Our Community End **/



/** 5st implement Start **/

.implement {
  position: relative;
  width: 1600px;
  height: 842px;
  margin: 0 auto;
}

.implement img {
  position: absolute;
  width: 407px;
  height: 582px;
  left: 269px;
  top: 120px;
}

.content-block-3 {
  position: absolute;
  width: 407px;
  height: 184px;
  left: 815px;
  top: 319px;
}

.content-block-3 h2 {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #373737;
}

.content-block-3 p {
  margin-top: 20px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;

  color: #4E4E4E;
}

.content-block-3 button {
  display: flex;
  flex-direction: row;
  padding: 14px 47px;

  position: absolute;
  width: 180px;
  height: 46px;
  top: 138px;
  left: 0px;
  background: #00AFDB;
  border: none;
  cursor: pointer;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 132%;
  white-space: nowrap;
  text-align: center;
  color: #FFFFFF;
}

/** 5st implement End **/



/** 6st Sign Up Start **/

.subscribe {
  position: relative;
  width: 1600px;
  height: 524px;
  margin: 0 auto;
  background-color: rgb(102, 102, 102);
  background-image: url(./assets/img/pexels-christina-morillo.png);
}

.sign-up {
  position: absolute;
  width: 406px;
  height: 104px;
  left: 597px;
  top: 200px;
}

.sign-up h2 {
  margin-left: 13px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #FFFFFF;
}

.sign-up input {
  position: absolute;
  width: 340px;
  height: 46px;
  left: 0px;
  top: 58px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  /* identical to box height, or 20px */
  display: flex;
  align-items: flex-end;
  padding-left: 24px;
  color: #373737;
  border: none;
}

.subscribe form img:hover {
  transform: scale(1.2);
  transition: 0.3s;
}


.btn-submit {
  width: 66px;
  height: 46px;
  border: none;
  background: #00afdb;
  position: relative;
  left: 340px;
  top: 30px;
  cursor: pointer;
}

/** 6st Sign Up End **/



/** 7st Download Start **/

.download-app {
  position: relative;
  width: 1600px;
  height: 464px;
  margin: 0 auto;
  background: #F5F6F7;
  overflow: hidden;
}

.download-app h2 {
  position: relative;
  left: 675px;
  top: 120px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  letter-spacing: 1.05px;
  text-transform: uppercase;

  color: #373737;
}

.download-app p {
  position: relative;
  width: 483px;
  left: 559px;
  top: 143px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 145%;
  display: flex;
  align-items: center;
  text-align: center;

  color: #4E4E4E;
}

.btn-store {
  position: absolute;
  width: 186px;
  height: 46px;
  left: 598px;
  top: 238px;
  background-image: url(./assets/img/btn-store-apple.svg);
}

.btn-store:hover {
  background-image: url(./assets/img/btn-store-apple-hover.svg);
  transition: 1.2s;
}

.btn-market {
  position: absolute;
  width: 186px;
  height: 46px;
  left: 815px;
  top: 237px;
  background-image: url(./assets/img/btn-store-android.svg);
}

.btn-market:hover {
  background-image: url(./assets/img/btn-store-android-hover.svg);
  transition: 1.2s;
}

/** 7st Download End **/



/** 8st Footer Start **/

footer {
  position: relative;
  width: 1600px;
  height: 184px;
  margin: 0 auto;

  background: #000000;
}

.additional-nav {
  position: absolute;
  width: 300px;
  height: 20px;
  left: 160px;
  top: 75px;
}


.additional-nav li {
  display: inline-block;
  margin-right: 17px;
  padding-left: 20px;
}

.additional-nav li a {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #FFFFFF;
  opacity: 0.98;
  text-decoration: none;
}

.additional-nav li a:hover {
  color: #27a3c2;
  border-bottom: 1px solid #FFF;
}


.mnu_divider {
  position: relative;
  width: 8px;
  height: 0px;
  left: 60px;
  margin-top: -10px;

  border: 1px solid #4E4E4E;
  transform: rotate(-90deg);
}



.logobot {
  position: absolute;
  width: 44px;
  height: 45px;
  left: 618px;
  top: -16px;
}


.logobot:hover {
  transform: rotate(360deg) scale(2);
  transition: .4s;
}

.copyright {
  position: absolute;
  width: 170px;
  height: 20px;
  left: 1110px;
  top: -1px;


  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  white-space: nowrap;

  color: #818181;
}

/** 8st Footer End **/